@page "/myorders"
@inject HttpClient HttpClient
@attribute [Authorize]

<div class="main">
    <TemplatedList Loader="LoadOrders" ListGroupClass="orders-list">
        <Loading>Loading...</Loading>
        <Empty>
            <h2>No orders placed</h2>
            <a class="btn btn-success" href="">Order some book</a>
        </Empty>
        <Item Context="item">
            <div class="col">
                <h5>@item.Order.CreatedTime.ToLongDateString()</h5>
                Items:
                <strong>@item.Order.Books.Count()</strong>;
                Total price:
                <strong>@item.Order.TotalPrice</strong>
            </div>
            <div class="col">
                Status: <strong>@item.StatusText</strong>
            </div>
        </Item>
    </TemplatedList>
</div>

@code {
    async Task<List<OrderWithStatus>> LoadOrders() {
        return await HttpClient.GetJsonAsync<List<OrderWithStatus>>("orders");
    }
}
