<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item"><Button Color="Color.Danger">x</Button></a>
    <div class="title">@(Book.Size)" @Book.Special.Name</div>
    <ul>
        @foreach (var extra in Book.Extras)
        {
            <li>+ @extra.Extra.Name</li>
        }
    </ul>
    <div class="item-price">
        @Book.GetFormattedTotalPrice()
    </div>
</div>

@code {
    [Parameter] public Book Book { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}