<AuthorizeView>
    <Authorizing>
        <text>...</text>
    </Authorizing>
    <Authorized>
        @{
            string pictureUrl = context.User.Claims.Where(c => c.Type == "Picture").Select(c => c.Value).FirstOrDefault();
        }
        <Button>
            <img src="@pictureUrl" height="25px" style="border-radius: 50%" alt="picture">
        </Button>
        <Button>
            <span alt="Name">@context.User.Identity.Name</span>
        </Button>
        <Button>
            <a href="user/signout">Sign out</a>
        </Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="Color.Success">
            <a href="user/signin">
            <span class="iconify" data-icon="ant-design:login-outlined" data-inline="true"></span>
            Sign in
            </a>
        </Button>
    </NotAuthorized>
</AuthorizeView>