<AuthorizeView>
    <Authorizing>
        <text>...</text>
    </Authorizing>
    <Authorized>
        <Button>
            <span>@context.User.Claims.Where(c => c.Type == "Locale").Select(c => c.Value).FirstOrDefault()</span>
            <img src="@context.User.Claims.Where(c => c.Type == "Picture").Select(c => c.Value).FirstOrDefault()" height="25px">
            <span>@context.User.Identity.Name</span>
            <span class="iconify" data-icon="ant-design:user-outlined" data-inline="true"></span>
            <a href="user/signout">Sign out</a>
        </Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="Color.Success">
            <a href="user/signin">
            <span class="iconify" data-icon="ant-design:login-outlined" data-inline="true"></span>
            Sign in
            </a>
        </Button>
    </NotAuthorized>
</AuthorizeView>
