@inherits LayoutComponentBase
@inject Blazored.Localisation.Services.IBrowserDateTimeProvider browserDateTimeProvider

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Transparent" ThemeContrast="ThemeContrast.Light">
    <BarBrand class="logo">BOOTRA</BarBrand>
    <BarToggler>
    </BarToggler>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink href="">
                    <span class="iconify" data-icon="dashicons:book-alt" data-inline="true"></span> Books
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink href="myorders">
                    <span class="iconify" data-icon="whh:bag" data-inline="true"></span> Orders
                </BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <img type="image/svg" src=@($"img/{CultureInfo.CurrentCulture.Name}.svg") height="35px">
            <NavWish />
            <NavBasket />
            <LoginDisplay />
        </BarEnd>
    </BarMenu>
</Bar>

<ToastContainer />

<div class="content">
    @Body
</div>